<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
      <script src="sample_2.js"></script>

      <title>JS基礎</title>
      <!-- <style>
        #monkey {
          width: 100px;
          height: 100px;
          animation: rainbow 5s infinite;
        }

        @keyframes rainbow {
          0% {
            filter: hue-rotate(0deg);
          }
          100% {
            filter: hue-rotate(360deg);
          }
        }
      </style> -->
      <link rel="stylesheet" href="animacion.css" type="text/css" />
    </head>
    <body>
      <div id="app">
        <div v-show="isDisplay">表示</div>
        <div v-show="!isDisplay">falseになっている</div>
        <br />
        <div v-if="isDisplay">ifで表示</div>
        <div v-if="signal === 'red' ">赤</div>
        <div v-else-if="signal === 'yellow' ">黄色</div>
        <div v-else-if="signal === 'blue' ">青色</div>
        <div v-else>赤青黄以外の色</div>

        <div id="text">Hello World</div>
        <button id="btn1">ボタン1</button>
        <button id="btn2">ボタン2</button>
      </div>
      <div id="monkey">
        <img src="monkey.jpeg" alt="猿" />
      </div>
      <div id="fish">
        <img src="fish.png" alt="魚" />
      </div>

      <script>
        let app = new Vue({
          el: "#app",
          data() {
            return {
              isDisplay: true,
              signal: "yellow",
              a: 1,
            };
          },
        });

        document.write("Hello World!!");
      </script>
    </body>
  </html>
</html>
